* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/white-waves.png");
}

.script-font {
  font-family: 'Kaushan Script',
    cursive;
}

.main-font {
  font-family: 'Montserrat', sans-serif;
}

.jumbo {
  height: 80%;
  background: #d7dfe9;
}

.about-me {
  /* background: #e1dbf5; */
}

.portfolio {}

.contact {}

.card {
  padding-bottom: 10px;
  margin-bottom: 20px;
}